# Ignorar CLAUDE.MD (cualquier carpeta y may/min)
**/[Cc][Ll][Aa][Uu][Dd][Ee].[Mm][Dd]

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias / builds
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
